li .mymenu {

 font-family: 'open_sansbold';
 font-size:1.6em;
 text-decoration: none;
 color:#4c4c4c;
 -webkit-border-box: 0 1px 0 0 #4c4c4c;
 border-bottom: 4px solid transparent;
 -webkit-transition: border-bottom .3s linear;

}

li .mymenu:hover {
  
  border-bottom:4px solid #4c4c4c;
}


h1 {
  font-size: 70px;
  text-align: center;
}


strong {
  font-size: 40px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}


.item-container {
  text-align: center;
}

.item-container img {
  width: 120px;
  height: 140px;
}

form{
margin: top 40px;
height: center;
}

form label{
display: block;
font-size: 24px;
margin-block: 10px;
}

form input,
form textarea{
width: 300px;
padding: 10px;
margin-bottom: 10px;
font-size: 20px;
border: 1px solid#ccc;
border: radius 5px;
}

form input[type="submit"]{
background-color: #4CAF50;
color: WHITE;
border: pointer;
font: size 10px;
}

a {
  display: block;
  text-align: none;
  margin-top: 20px;
  font-size: 24px;
}

